{% extends 'base.html' %}
{% block content %}
    <nav class="navbar navbar-light bg-dark p-2">
        <div class="limiter">
            <div class="text-center">
                <button class='btn btn-info' type="button" onclick="location.href = `{% url 'main_cab' %}`">Личный кабинет</button>
                <button class='btn btn-info' type="button" onclick="location.href = `{% url 'personalProfile' %}`">Персональная информация</button>
            </div>
    </nav>
            <h1>Мои заявки</h1>
<table class="table" border="solid">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Дата создания заявки</th>
    	<th scope="col">Cтатус</th>
	</tr>
    </thead>
    {% for list in listRequest reversed %}
    <form method="POST">
        {% csrf_token %}
        <tr>
            <td> {{ list.description }} </td>
            <td> {{ list.date_created }} </td>
			<td> {{ list.status }} </td>
        </tr>
    </form>
    {% endfor %}
</div>
</table>
{% endblock %}
