<!DOCTYPE html>
<html lang="en">
<head>
	<title>Регистрация</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

<!--===============================================================================================-->
	<link rel="stylesheet" href="{% static 'login_page/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				{{ form.non_field.error }}
				<form class="login100-form validate-form" method="post">
                    {% csrf_token %}
					<span class="login100-form-title p-b-70" method="POST">
						Регистрация
					</span>
					<div class="wrap-input100 validate-input m-b-35" data-validate = "Enter username">
						<label for="{{ form.username.id_for_label }}"></label>
						<br>
						{{ form.username }}
						<span class="focus-input100" data-placeholder="Логин"></span>
						<div class='invalid-feedback'>Введите логин</div>
							{{ form.username.errors }}
					</div>

                    <div class="wrap-input100 validate-input m-b-35" data-validate = "Enter email">
						<label for="{{ form.mail.id_for_label }}"></label>
						<br>
						{{ form.mail }}
						<span class="focus-input100" data-placeholder="Почта"></span>
						<div class='invalid-feedback'>Введите почту</div>
							{{ form.mail.errors }}
					</div>

                    <div class="wrap-input100 validate-input  m-b-35" >
						<label for="{{ form.fio.id_for_label }}"></label>
						<br>
						{{ form.fio }}
						<span class="focus-input100" data-placeholder="ФИО"></span>
						<div class='invalid-feedback'>Введите ФИО</div>
							{{ form.fio.errors }}
					</div>
					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter dateb">
						<label for="{{ form.dateb.id_for_label }}"></label>
						<br>
						{{ form.dateb }}
                        <span class="focus-input100" data-placeholder="Дата рождения"></span>
						<div class='invalid-feedback'>Введите дату рождения</div>
							{{ form.dateb.errors }}
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Запросить доступ
						</button>
					</div>
                    <br>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->


</body>
</html>