{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <div class="limiter">
        <div class="container-login100">
                <button class="login100-form-btn" type="button" onclick="location.href = `{% url 'listMki' %}`">
                    МКИ
                </button>
                <br>
                <button class="login100-form-btn" type="button" onclick="location.href = `#marker`">
                    НИР
                </button>
                                <br>
                <button class="login100-form-btn" type="button" onclick="location.href = `#marker`">
                    МЕД ИЗДЕЛИЯ
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}