{% extends 'base.html' %}
{% block content %}

<div class="text-center">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Добро пожаловать в информационную систему этического комитета при ФГБУ «НМИЦ онкологии им. Н.Н. Петрова» Минздрава России.
                Настоящая информационная система позволяет:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Формировать пакет документов для этической экспертизы доклинических и клинических исследований лекарственных препаратов и медицинских изделий </th>
        </tr>
        <tr>
            <th scope="row">Проводить этическую экспертизу исследований</th>
        </tr>
        <tr>
            <th scope="row">Получать результаты этической экспертизы</th>
        </tr>
        <tr><th></th></tr>
        </tbody>

    </table>
<div name="hello_text">
    {% if role_id == 2 or role_id == 11 or role_id == 1 %}
    <h2>
        Вы являетесь председателем ЛЭК. У Вас имеется полный
доступ. Регламент Вашей деятельности в ЛЭК описан в <a href="" style="font-size: 30px; color: blue;">СОП</a>.
    </h2>
{% endif %}
    {% if role_id == 3 %}
    <h2>
        Вы являетесь представителем администрации медицинской организации. У Вас имеется доступ к результатам этической экспертизы. Регламент
Вашей деятельности описан в <a href="" style="font-size: 30px; color: blue;">СОП</a>.
    </h2>
{% endif %}
    {% if role_id == 4%}
    <h2>
        Вы являетесь представителем заказчика клинического исследования. Вы можете инициировать этическую экспертизу и получать ее результаты.
    </h2>
{% endif %}
    {% if role_id == 5%}
    <h2>
        Вас пригласили для решения конкретного вопроса этической экспертизы. У Вас имеется возможность
оценить аспект исследования в соответствии с Вашей компетенцией. Регламент Вашей
        деятельности описан в <a href="" style="font-size: 30px; color: blue;">СОП</a>.
    </h2>
{% endif %}
</div>
</div>

{% endblock %}
