{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <h2>Добро пожаловать в информационную систему этического комитета при ФГБУ «НМИЦ онкологии им. Н.Н. Петрова» Минздрава России.
        Настоящая информационная система позволяет:</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Формировать пакет документов для этической экспертизы доклинических и клинических исследований лекарственных препаратов и медицинских изделий </li>
        <li class="list-group-item list-group-item-primary">Проводить этическую экспертизу исследований </li>
        <li class="list-group-item list-group-item-primary">Получать результаты этической экспертизы</li>
    </ul>

</div>

{% endblock %}
