<!DOCTYPE html>
<html lang="en">
      {% load static %}
      <head>
          <meta charset="UTF-8">
          <title>{% block title %}ЛЭК{% endblock %}</title>
          <!--===============================================================================================-->
	<link rel="stylesheet" href="{% static 'login_page/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/css/main.css' %}">
<!--===============================================================================================-->
</head>
	  {% include 'inc/_nav.html' %}
	  <body class="col-xl-13">
{% block username %}
{% if role_id == 1 or role_id == 2  %}




{% block content %}CONTENT{% endblock %}


{% endif %}
{% endblock %}
	  </body>
</html>