{% extends 'base.html' %}
{% block content %}
<table class="table" border="solid">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Номер документа</th>
        <th scope="col">Дата</th>
        <th scope="col">Просмотр</th>
    </tr>
    </thead>
    {% for list in infoRequest %}
    <form method="POST">
        {% csrf_token %}
        <tr>
            <td> <input type="text" value="{{ list.num_podpis }}" id="list.num_podpis" name="list.mail"> </td>
            <td> <input type="text" value="{{ list.date_podpis }}" id="list.date_podpis" name="list.mail"> </td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../{{ MEDIA_URL }}documents/{{ list.podpis }}'">Открыть</button></td>
        </tr>
    </form>
    {% endfor %}


    {% for list in infoRequest %}
    <form method="POST">
        {% csrf_token %}
        <tr>
            <td> <input type="text" value="{{ list.num_zagolovok }}" id="list.num_zagolovok" name="list.mail"> </td>
            <td> <input type="text" value="{{ list.date_zagolovok }}" id="list.date_zagolovok" name="list.mail"> </td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../{{ MEDIA_URL }}documents/{{ list.zagolovok }}'">Открыть</button></td>
        </tr>
    </form>
    {% endfor %}

    {% for list in infoRequest %}
    <form method="POST">
        {% csrf_token %}
        <tr>
            <td> <input type="text" value="{{ list.num_test }}" id="list.num_test" name="list.num_test"> </td>
            <td> <input type="text" value="{{ list.date_test }}" id="list.date_test" name="list.date_test"> </td>
            {% if list.test  %}
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../{{ MEDIA_URL }}documents/{{ list.test }}'">Открыть</button></td>
            {% else %}
            <td class="text-center"> <label class="text-danger">Отсутствует </label></td>
            {% endif %}

        </tr>


    </form>
    {% endfor %}
</table>


<form method="POST">
    {% csrf_token %}

    <div class="container-form-btn" name="_fast">
        <button class="btn btn-warning" type="button" onclick='document.getElementById("id_status").value = "fast";'>
            Cрочное
        </button>
        <br>
        <button class="btn btn-info" type="button" onclick='document.getElementById("id_status").value = "slow";'>
            Отложенное
        </button>
    </div>
    <br>
    <hr>
    <div class="container-login100-form-btn" name="accept">
        <button class="login100-form btn btn-success" type="submit" name="ACCEPT">
            Принять
        </button>
        <br>
        <button class="login100-form btn btn-danger" type="submit" name="DELETE">
            Отклонить
        </button>
        <input type="text" id="id_status" name="id_status" style="visibility: hidden;"> </input>
    </div></form>


{% endblock %}
