{% extends 'base.html' %}
{% block content %}
<table class="table" border="solid">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Тип документа</th>
        <th scope="col">Номер документа</th>
        <th scope="col">Дата</th>
        <th scope="col">Просмотр</th>
    </tr>
    </thead>
    {% for list in infoRequest %}
    <h2>Главный исследователь {{ list.main_researcher }}</h2>
    <form method="POST">
        {% csrf_token %}
        <tr>
            <td> <input type="text" value="Cписок участников" id="list.list_members" name="list.list_members"> </td>
            <td> <input type="text" value="-"</td>
            <td> <input type="text" value="-"</td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../../{{ MEDIA_URL }}documents/{{ list.list_members }}'">Открыть</button></td>
        </tr>
        <tr>
            <td> <input type="text" value="Разрешение МЗ РФ" id="list.accept_research" name="list.accept_research"> </td>
            <td> <input type="text" value="{{ list.accept_research_version }}"</td>
            <td> <input type="text" value="{{ list.accept_research_date }}"</td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../../{{ MEDIA_URL }}documents/{{ list.accept_research }}'">Открыть</button></td>
        </tr>
        <tr>
            <td> <input type="text" value="Протокол исследования" id="list.protocol_research" name="list.accept_research"> </td>
            <td> <input type="text" value="{{ list.protocol_research_version }}"</td>
            <td> <input type="text" value="{{ list.protocol_research_date }}"</td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../../{{ MEDIA_URL }}documents/{{ list.protocol_research }}'">Открыть</button></td>
        </tr>
        <tr>
            <td> <input type="text" value="Форма инф листка" id="list.form_inf"> </td>
            <td> <input type="text" value="{{ list.form_inf_version }}"</td>
            <td> <input type="text" value="{{ list.form_inf_date }}"</td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../../{{ MEDIA_URL }}documents/{{ list.form_inf }}'">Открыть</button></td>
        </tr>
        <tr>
            <td> <input type="text" value="Брошюра исследователя" id="list.cast_researcher"> </td>
            <td> <input type="text" value="{{ list.cast_researcher_version }}"</td>
            <td> <input type="text" value="{{ list.cast_researcher_date }}"</td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../../{{ MEDIA_URL }}documents/{{ list.cast_researcher }}'">Открыть</button></td>
        </tr>
        <tr>
            <td> <input type="text" value="Договор ОС" id="list.contract"> </td>
            <td> <input type="text" value="-"</td>
            <td> <input type="text" value="{{ list.contract_date }}"</td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../../{{ MEDIA_URL }}documents/{{ list.contract }}'">Открыть</button></td>
        </tr>
        <tr>
            <td> <input type="text" value="Рекламная продукция" id="list.advertising"> </td>
            <td> <input type="text" value="-"</td>
            <td> <input type="text" value="-"</td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../../{{ MEDIA_URL }}documents/{{ list.advertising }}'">Открыть</button></td>
        </tr>
        <tr>
            <td> <input type="text" value="Рекламная продукция" id="list.write_objects"> </td>
            <td> <input type="text" value="-"</td>
            <td> <input type="text" value="-"</td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../../{{ MEDIA_URL }}documents/{{ list.write_objects }}'">Открыть</button></td>
        </tr>
        <tr>
            <td> <input type="text" value="{{ list.name_another_doc }}" id="list.write_objects"> </td>
             <td> <input type="text" value="{{ list.another_doc_version }}"</td>
             <td> <input type="text" value="{{ list.another_doc_version }}"</td>
            <td class="text-center"><button type="button" class="btn btn-warning" onclick="window.location.href = '../../../{{ MEDIA_URL }}documents/{{ list.another_doc }}'">Открыть</button></td>
        </tr>
    </form>
</table>
{% endfor %}


<form method="POST">
    {% csrf_token %}

    <div class="container-form-btn" name="_fast">
        <button class="btn btn-warning" type="button" onclick='document.getElementById("id_status").value = "fast";'>
            Cрочное
        </button>
        <br>
        <button class="btn btn-info" type="button" onclick='document.getElementById("id_status").value = "slow";'>
            Отложенное
        </button>
    </div>
    <br>
    <hr>
    <div class="container-login100-form-btn" name="accept">
        <button class="login100-form btn btn-success" type="submit" name="ACCEPT">
            Принять
        </button>
        <br>
        <br>


        <form method="post">
                    {% csrf_token %}
					<span class="login100-form-title p-b-70" method="POST">
						Отклонить заявку
					</span>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" name="descrtiptionDelete">Введите причину отказа</span>
  </div>
  <textarea class="form-control" aria-label="Введите причину отказа" name="descrtiptionDelete"></textarea>
</div>
</div>
        <button class="login100-form btn btn-danger" type="submit" name="DELETE">
            Отклонить
        </button>
        <input type="text" id="id_status" name="id_status" style="visibility: hidden;"> </input>
    </div></form>


{% endblock %}
