{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <div class="limiter">
        <div class="container-login100">
                <button class="login100-form-btn" type="button" onclick="location.href = `{% url 'firstCreateRequestMki' %}`">
                    Первичная подача
                </button>
                <br>
                <button class="login100-form-btn" type="button" onclick="location.href = `#marker`">
                    Годовой отчет
                </button>
                                <br>
                <button class="login100-form-btn" type="button" onclick="location.href = `#marker`">
                    Внесение изменений в документацию
                </button>
                            <br>
                <button class="login100-form-btn" type="button" onclick="location.href = `#marker`">
                    Повторная подача
                </button>
                                <br>
                <button class="login100-form-btn" type="button" onclick="location.href = `#marker`">
                    SAE
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}